[*.cs]

# IDE0210: Convert to top-level statements
dotnet_diagnostic.IDE0210.severity = suggestion

# CS0219: Variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = none
